<div class="my-form col-lg-6 col-lg-offset-3">
  
  <%= simple_form_for(@town_master) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%#= f.input :town_id %>
      <%#= f.input :district_id %>
      <%= f.input :region_id, collection: @regions, label_method: :name, value_method: :region_id,:input_html =>{id: "region"}, label:"Region"  %>
      <%= f.input :district_id, collection: @districts, label_method: :name, value_method: :district_id,:input_html =>{id: "district"}, label:"District"  %>
      <%= f.input :name, label:"Town name" %>
      <%= f.input :town_center_gps %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>

</div>

<script>
  var region_id = $('#region');
 
// 

  region_id.change(function() {
      console.log("For region id:: " + region_id.val());
      // $('[data-toggle="tooltip"]').tooltip();

      $.ajax({
          type: "POST",
          url: '<%= region_district_path %>',
          data: {
              region_id: region_id.val()
          },
          dataType: "script"
          // return false
      });

  });
</script>