<p id="notice"><%= notice %></p>

<p>
  <strong>Assigned code:</strong>
  <%= @district_type_master.assigned_code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @district_type_master.name %>
</p>

<%= link_to 'Edit', edit_district_type_master_path(@district_type_master) %> |
<%= link_to 'Back', district_type_masters_path %>
