
   
    <div class="my-content"> 
        <h2> Districts </h2>
        <div class="new-btn float-right">
            <%= link_to new_district_master_path, class:"btn btn-outline-dark" do %>
                <span class="glyphicon glyphicon-plus"></span>
                New District
            <% end %>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>District</th>
                    <th>Region ID</th>
                    <%# <th>Region</th> %>
                    <th>District type</th>
                    <th>Name</th>
                    <th>Capital</th>
                    <th>GPS coordinates</th>
                    <th>Status</th>
                    <th colspan="2"></th>
                </tr>
                </thead>

                <tbody>
                <% @district_masters.each_with_index do |district_master,index| %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= district_master.district_id %></td>
                    <td><%= district_master.region_master.name %></td>
                   <!--<td><%#= district_master.region_master.name if !district_master.region_master.nil?%></td>--> 
                    <td>
                      <% if district_master.district_type == 'MUN' %>
                        Municipal
                      <%elsif district_master.district_type == 'MET'%>
                        Metropolitan
                        <%elsif district_master.district_type == 'DIS'%>
                        District
                      <% end %>
                    </td>
                    <td><%= district_master.name %></td>
                    <td><%= district_master.capital %></td>
                    <td><%= district_master.capital_gps %></td>
                    <td><% if district_master.active_status%>Active<% else %>Inactive<%end%></td>
                    <!--<td><%#= link_to 'Show', district_master, class:"btn btn-sm btn-light" %></td>-->
                    <td><%= link_to 'Edit', edit_district_master_path(district_master), class:"btn btn-sm btn-outline-dark" %></td>
                    <td><%= link_to 'Destroy', district_master, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" %></td>
                </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
