<p id="notice"><%= notice %></p>

<p>
  <strong>District:</strong>
  <%= @district_master.district_id %>
</p>

<p>
  <strong>Region:</strong>
  <%= @district_master.region_id %>
</p>

<p>
  <strong>District type:</strong>
  <%= @district_master.district_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @district_master.name %>
</p>

<p>
  <strong>Capital:</strong>
  <%= @district_master.capital %>
</p>

<p>
  <strong>Capital gps:</strong>
  <%= @district_master.capital_gps %>
</p>

<%= link_to 'Edit', edit_district_master_path(@district_master) %> |
<%= link_to 'Back', district_masters_path %>
