<p id="notice"><%= notice %></p>

<p>
  <strong>Political party:</strong>
  <%= @political_party_master.political_party_id %>
</p>

<p>
  <strong>Region:</strong>
  <%= @political_party_master.region_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @political_party_master.name %>
</p>

<p>
  <strong>Party initial:</strong>
  <%= @political_party_master.party_initial %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @political_party_master.contact_number %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @political_party_master.email_address %>
</p>

<p>
  <strong>Party logo:</strong>
  <%= @political_party_master.party_logo %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @political_party_master.image_path %>
</p>

<p>
  <strong>Hq address line 1:</strong>
  <%= @political_party_master.hq_address_line_1 %>
</p>

<p>
  <strong>Hq address line 2:</strong>
  <%= @political_party_master.hq_address_line_2 %>
</p>

<p>
  <strong>District:</strong>
  <%= @political_party_master.district_id %>
</p>

<p>
  <strong>Town:</strong>
  <%= @political_party_master.town_id %>
</p>

<%= link_to 'Edit', edit_political_party_master_path(@political_party_master) %> |
<%= link_to 'Back', political_party_masters_path %>
