<p id="notice"><%= notice %></p>

<p>
  <strong>Agent:</strong>
  <%= @polling_station_agent.agent_id %>
</p>

<p>
  <strong>Political party:</strong>
  <%= @polling_station_agent.political_party_id %>
</p>

<p>
  <strong>Region:</strong>
  <%= @polling_station_agent.region_id %>
</p>

<p>
  <strong>Constituency:</strong>
  <%= @polling_station_agent.constituency_id %>
</p>

<p>
  <strong>Polling station:</strong>
  <%= @polling_station_agent.polling_station_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @polling_station_agent.title %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @polling_station_agent.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @polling_station_agent.lastname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @polling_station_agent.gender_id %>
</p>

<p>
  <strong>Agent photo:</strong>
  <%= @polling_station_agent.agent_photo %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @polling_station_agent.image_path %>
</p>

<p>
  <strong>Agent signature image:</strong>
  <%= @polling_station_agent.agent_signature_image %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @polling_station_agent.phone_number %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @polling_station_agent.email_address %>
</p>

<p>
  <strong>Hq address line 1:</strong>
  <%= @polling_station_agent.hq_address_line_1 %>
</p>

<p>
  <strong>Hq address line 2:</strong>
  <%= @polling_station_agent.hq_address_line_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @polling_station_agent.city %>
</p>

<p>
  <strong>Town:</strong>
  <%= @polling_station_agent.town_id %>
</p>

<p>
  <strong>Gps coordinates:</strong>
  <%= @polling_station_agent.gps_coordinates %>
</p>

<p>
  <strong>Nearest landmark:</strong>
  <%= @polling_station_agent.nearest_landmark %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @polling_station_agent.active_status %>
</p>

<p>
  <strong>Del status:</strong>
  <%= @polling_station_agent.del_status %>
</p>

<p>
  <strong>User:</strong>
  <%= @polling_station_agent.user_id %>
</p>

<%= link_to 'Edit', edit_polling_station_agent_path(@polling_station_agent) %> |
<%= link_to 'Back', polling_station_agents_path %>
